.tool {
     background-color: aquamarine;
     padding: 3rem;
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.extention {
     background-color: bisque;
     display: flex;
     flex-direction: column;
     padding: 2rem;
     gap: 2rem;
}